<ul class="nav nav-sidebar">
  <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
  <li>Users</li>
  <li><%= link_to 'Accounts', accounts_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
  <ul>
    <li><%= link_to 'Transactions', transactions_path %></li>
  </ul>
  
</ul>
<ul class="nav nav-sidebar">
  <li><a href="#">Analytics</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="#">Export</a></li>
</ul>
